<h2 id="title">Super Rentals</h2>

{{outlet}}

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'cities'}}Cities{{/link-to}}
